.main {
    margin-top: 70px;
    display: flex;
    background: #181a1c;
    border-radius: 20px 20px 0 0;
    align-items: center;
    flex-wrap: wrap;
    height: calc(var(--tg-viewport-stable-height) - 60px);
    flex-direction: column;
    box-shadow: 0 -5px 50px #af94c7;
    border-top: 2px solid #af94c7;
}

.counter {
    margin-bottom: 20px;
    margin-top: 20px;
    display: flex;
    align-items: center;
}

.counter img {
    width: 80px;
    height: 50px;
    user-select: none;
}
span {
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    user-select: none;
}

.circle {
    position: relative;
}
.circle img{
    width: 370px;
    height: 300px;
    border-radius: 50%;
    transition: transform 0.2s ease;
    --tiltX: 0deg;
    --tiltY: 0deg;
    transform: rotateX(var(--tiltX)) rotateY(var(--tiltY));
    user-select: none;
}
#floating-score {
    position: absolute;
    pointer-events: none;
    color: white;
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    animation: floatUp 1s ease-out forwards;
}

@keyframes floatUp {
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(-50px);
    }
}
.energy-bar {
    width: 100%;
    border: 1px solid #ce991d;
    font-family: "Montserrat", sans-serif;
    text-align: center;
    border-radius: 10px;
    margin-top: 20px;
    padding: 10px 20px;
    box-shadow: 0 0 5px #ce991d inset;
    margin-bottom: 20px;
}