header {
    margin-left: 10px;
    position: sticky;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 50%;
    background: #1c1f24;
    margin-top: 10px;
    margin-bottom: 70px;
}

img {
    width: 40px;
    border-radius: 50%;
}

.img {
    background: #1c1f24;
}

.username {
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    background: #1c1f24;
    margin-left: 10px;
    color: whitesmoke;
}