.footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 60px;
    position: sticky;
    background: #181a1c;
    border: 1px solid #181a1c;
    border-bottom: none;
    box-shadow: 0 0 15px #0f0f11ff;
}
.footer .home-div {
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer .home-div .home-btn {
    color: grey;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer .home-div .home-btn .home-icon {
    width: 25px;
    height: 25px;
}
.footer hr {
    height: 40px;
    border-color: grey;
}
.footer .loss-div {
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer .loss-div .loss-btn {
    color: grey;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer .loss-div .loss-btn .loss-icon {
    width: 25px;
    height: 25px;
}
.active {
    color: white;
}